<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/bigdata24.css">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body background="../static/image/download.jpg">
    <div id="header">
        <div id="logo">
            <div>
                <a href="http://127.0.0.1:8000"><img src="../static/image/logo.jpg"></a>
            </div>
        </div>
        <div id="about_us">
                <a class="nav-link" href="http://127.0.0.1:8000/#home">About us</a>
        </div>
        <div id="services">
                <a class="nav-link" href="http://127.0.0.1:8000/#service">Services</a>
        </div>
        <div id="contact">
            <a class="nav-link" href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Contact</a>
    </div>
    
        </div>
        <div id="light" class="white_content">
            <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">&times;</a>
        <div id="top">
            <h3>YBrantWorks Pvt. Ltd.</h3>
            
        </div>
        <div id="mid">
        <h4><p>101, Evoma,</p>
            <p>The Address,</p>
            <p>Kadubeesanahalli,</p>
            <p>Bangalore - 560103</p></h4>
        </div>
        <hr> 
        <div id="bottom"> 
            <h4><p>+91 80-67410936, +91 9663422557</p>
            <p>info@ybrantworks.com</p></h4>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>
    <div id="b">
        <div id="table">
            <table id="d" style="border: 2px solid grey ;">
                <tr >
                        <td><a href="http://127.0.0.1:8000/datasolution" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Solutions</a><hr></td>
                    </tr>
                    
                    <tr >
                        <td><a href="http://127.0.0.1:8000/tableau" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Visualization</a><hr></td>
                    </tr>
                   
                    <tr >
                        <td><a style="size: 22px;font-family: 'Quicksand', sans-serif;">Big Data</a><hr></td>
                    </tr>
                    <tr>
                    
                        <td><a href="http://127.0.0.1:8000/projectmang" style="size: 22px;font-family: 'Quicksand', sans-serif;">Project Management</a><hr></td>
                    </tr>
                    
                    <tr >
                        <td><a href="http://127.0.0.1:8000/machinelearning" style="size: 22px;font-family: 'Quicksand', sans-serif;">Machine Learning</a><hr></td>
                    </tr>
                   
                    <tr >
                        <td><a href="http://127.0.0.1:8000/webapp" style="size: 22px;font-family: 'Quicksand', sans-serif;">Web Application</a></td>
                    </tr>
        </table>    
        </div>
        <div id="c">
        <div id="text">
            <p class="container1">Big Data is a collection of large datasets that cannot be adequately processed using traditional processing techniques. Big data is not only data it has become a complete subject, which involves various tools, techniques and frameworks.</p>
			<p class="container1">Big data term describes the volume amount of data both structured and unstructured manner that adapted in day-to-day business environment. It’s important that what organizations utilize with these with the data that matters. </p>
			<p class="container1">Big data helps to analyze the in-depth concepts for the better decisions and strategic taken for the development of the organization.</p>
        </div>
        <div id="image">
            <img src="../static/image/5-V-of-Big-Data_Infographic-01-1024x686.png">
        </div>
        </div>  
    </div>
    <div class="footer">
        <h3>&copy;Copyright,2019-YBrantWorks</h3>
    </div>
</body>
</html>