<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/bussiness1.css">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body background="../static/image/download.jpg">
    <div id="header">
        <div id="logo">
            <div>
                <a href="http://127.0.0.1:8000"><img src="../static/image/logo.jpg"></a>
            </div>
        </div>
        <div id="about_us">
                <a class="nav-link" href="http://127.0.0.1:8000/#home">About us</a>
        </div>
        <div id="services">
                <a class="nav-link" href="http://127.0.0.1:8000/#service">Services</a>
        </div>
        <div id="contact">
            <a class="nav-link" href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Contact</a>
    </div>
    
        </div>
        <div id="light" class="white_content">
            <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">&times;</a>
        <div id="top">
            <h3>YBrantWorks Pvt. Ltd.</h3>
            
        </div>
        <div id="mid">
        <h4><p>101, Evoma,</p>
            <p>The Address,</p>
            <p>Kadubeesanahalli,</p>
            <p>Bangalore - 560103</p></h4>
        </div>
        <hr> 
        <div id="bottom"> 
            <h4><p>+91 80-67410936, +91 9663422557</p>
            <p>info@ybrantworks.com</p></h4>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>
    <div id="b">
        <div id="table">
            <table id="d" style="border: 2px solid grey ;">
                <tr>
                    <td><h3 style="text-align: center;size: 22px;font-family: 'Quicksand', sans-serif;">Data Solutions</h3><hr></td>
                </tr>
                <tr >
                        <td>&#x2729;<a href="http://127.0.0.1:8000/datawarehouse" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Warehouse</a><hr></td>
                    </tr>
                    <tr >
                        <td>&#x2729;<a href="http://127.0.0.1:8000/datamanag" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Management</a><hr></td>
                    </tr>
                    <tr >
                        <td>&#x2729;<a style="size: 22px;font-family: 'Quicksand', sans-serif;">Business Intelligence</a><hr></td>
                    </tr>
                    <tr >
                        <td>&#x2729;<a href="http://127.0.0.1:8000/dataanaly"style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Analytics</a></td>
                    </tr>
        </table>    
        </div>
        <div id="c">
            <div id="text">
                <p class="container1">Business intelligence (BI) is a technology-driven process for analyzing data and presenting actionable information to help executives, managers and other corporate end users make informed business decisions. BI encompasses a wide variety of tools, applications and methodologies that enable organizations to collect data from internal systems and external sources, prepare it for analysis, develop and run queries against that data, and create reports, dashboards and data visualizations to make the analytical results available to corporate decision-makers, as well as operational workers.</p>
                <p class="container1">The potential benefits of business intelligence tools include accelerating and improving decision-making, optimizing internal business processes, increasing operational efficiency, driving new revenues and gaining competitive advantage over business rivals. BI systems can also help companies identify market trends and spot business problems that need to be addressed.BI data can include historical information stored in a data warehouse, as well as new data gathered from source systems as it is generated, enabling BI tools to support both strategic and tactical decision-making processes.</p>
            </div>
            <div id="image">
                <img src="../static/image/Bi.jpg">
            </div>
            </div>  
        </div>
        <div class="footer">
            <h3>&copy;Copyright,2019-YBrantWorks</h3>
        </div>
    </body>
    </html>