<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/dataanaly1.css">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body background="../static/image/download.jpg">
    <div id="header">
        <div id="logo">
            <div>
                <a href="http://127.0.0.1:8000"><img src="../static/image/logo.jpg"></a>
            </div>
        </div>
        <div id="about_us">
                <a class="nav-link" href="http://127.0.0.1:8000/#home">About us</a>
        </div>
        <div id="services">
                <a class="nav-link" href="http://127.0.0.1:8000/#service">Services</a>
        </div>
        <div id="contact">
            <a class="nav-link" href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Contact</a>
    </div>
    
        </div>
        <div id="light" class="white_content">
            <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">&times;</a>
        <div id="top">
            <h3>YBrantWorks Pvt. Ltd.</h3>
            
        </div>
        <div id="mid">
        <h4><p>101, Evoma,</p>
            <p>The Address,</p>
            <p>Kadubeesanahalli,</p>
            <p>Bangalore - 560103</p></h4>
        </div>
        <hr> 
        <div id="bottom"> 
            <h4><p>+91 80-67410936, +91 9663422557</p>
            <p>info@ybrantworks.com</p></h4>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>
    <div id="b">
        <div id="table">
            <table id="d" style="border: 2px solid grey ;">
                <tr>
                    <td><h3 style="text-align: center;size: 22px;font-family: 'Quicksand', sans-serif;">Data Solutions</h3><hr></td>
                </tr>
                <tr >
                        <td>&#x2729;<a href="http://127.0.0.1:8000/datawarehouse" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Warehouse</a><hr></td>
                    </tr>
                    <tr >
                        <td>&#x2729;<a href="http://127.0.0.1:8000/datamanag" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Management</a><hr></td>
                    </tr>
                    <tr >
                        <td>&#x2729;<a href="http://127.0.0.1:8000/business" style="size: 22px;font-family: 'Quicksand', sans-serif;">Business Intelligence</a><hr></td>
                    </tr>
                    <tr >
                        <td>&#x2729;<a style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Analytics</a></td>
                    </tr>
        </table>    
        </div>
        <div id="c">
            <div id="text">
                <p class="container1">Data analytics (DA) is the process of examining data sets in order to draw conclusions about the information they contain, increasingly with the aid of specialized systems and software. Data analytics technologies and techniques are widely used in commercial industries to enable organizations to make more-informed business decisions and by scientists and researchers to verify or disprove scientific models, theories and hypotheses.</p>
                <p class="container1">As a term, data analytics predominantly refers to an assortment of applications, from basic business intelligence (BI), reporting and online analytical processing (OLAP) to various forms of advanced analytics. In that sense, it's similar in nature to business analytics, another umbrella term for approaches to analyzing data -- with the difference that the latter is oriented to business uses, while data analytics has a broader focus. The expansive view of the term isn't universal, though: In some cases, people use data analytics specifically to mean advanced analytics, treating BI as a separate category.</p>
            </div>
            <div id="image">
                <img src="../static/image/dataanalytics.jpg">
            </div>
            </div>  
        </div>
        <div class="footer">
            <h3>&copy;Copyright,2019-YBrantWorks</h3>
        </div>
    </body>
    </html>