<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/datawarehouse2.css">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body background="../static/image/download.jpg">
    <div id="header">
        <div id="logo">
            <div>
                <a href="http://127.0.0.1:8000"><img src="../static/image/logo.jpg"></a>
            </div>
        </div>
        <div id="about_us">
                <a class="nav-link" href="http://127.0.0.1:8000/#home">About us</a>
        </div>
        <div id="services">
                <a class="nav-link" href="http://127.0.0.1:8000/#service">Services</a>
        </div>
        <div id="contact">
            <a class="nav-link" href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Contact</a>
    </div>
    
        </div>
        <div id="light" class="white_content">
            <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">&times;</a>
        <div id="top">
            <h3>YBrantWorks Pvt. Ltd.</h3>
            
        </div>
        <div id="mid">
        <h4><p>101, Evoma,</p>
            <p>The Address,</p>
            <p>Kadubeesanahalli,</p>
            <p>Bangalore - 560103</p></h4>
        </div>
        <hr> 
        <div id="bottom"> 
            <h4><p>+91 80-67410936, +91 9663422557</p>
            <p>info@ybrantworks.com</p></h4>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>
    <div id="b">
        <div id="table">
            <table id="d" style="border: 2px solid grey ;">
                    <tr>
                        <td  style="text-align: center;size: 22px;font-family: 'Quicksand', sans-serif;"><h3>Data Solutions</h3><hr></td>
                    </tr>
                    <tr >
                            <td>&#x2729;<a style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Warehouse</a><hr></td>
                        </tr>
                        <tr >
                            <td>&#x2729;<a href="http://127.0.0.1:8000/datamanag" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Management</a><hr></td>
                        </tr>
                        <tr >
                            <td>&#x2729;<a href="http://127.0.0.1:8000/business" style="size: 22px;font-family: 'Quicksand', sans-serif;">Business Intelligence</a><hr></td>
                        </tr>
                        <tr >
                            <td>&#x2729;<a href="http://127.0.0.1:8000/dataanaly" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Analytics</a><hr></td>
                        </tr>
            </table>    
        </div>
        <div id="c">
            <div id="text">
                <p class="container1">A data warehousing is defined as a technique for collecting and managing data from varied sources to provide meaningful business insights. It is a blend of technologies and components which aids the strategic use of data.</p>
                <p class="container1">It is electronic storage of a large amount of information by a business which is designed for query and analysis instead of transaction processing. It is a process of transforming data into information and making it available to users in a timely manner to make a difference.</p>
            </div>
            <div id="image">
                <img src="../static/image/dataware.png">
            </div>
            </div>  
        </div>
        <div class="footer">
            <h3>&copy;Copyright,2019-YBrantWorks</h3>
        </div>
    </body>
    </html>