<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/webapp12.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body background="../static/image/download.jpg">
    <div id="header">
        <div id="logo">
            <div>
                <a href="http://127.0.0.1:8000"><img src="../static/image/logo.jpg"></a>
            </div>
        </div>
        <div id="about_us">
                <a class="nav-link" href="http://127.0.0.1:8000/#home">About us</a>
        </div>
        <div id="services">
                <a class="nav-link" href="http://127.0.0.1:8000/#service">Services</a>
        </div>
        <div id="contact">
            <a class="nav-link" href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Contact</a>
    </div>
    
        </div>
        <div id="light" class="white_content">
            <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">&times;</a>
        <div id="top">
            <h3>YBrantWorks Pvt. Ltd.</h3>
            
        </div>
        <div id="mid">
        <h4><p>101, Evoma,</p>
            <p>The Address,</p>
            <p>Kadubeesanahalli,</p>
            <p>Bangalore - 560103</p></h4>
        </div>
        <hr> 
        <div id="bottom"> 
            <h4><p>+91 80-67410936, +91 9663422557</p>
            <p>info@ybrantworks.com</p></h4>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>
    <div id="b">
        <div id="table">
            <table id="d" style="border: 2px solid grey ;">
                <tr >
                        <td><a href="http://127.0.0.1:8000/datasolution" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Solutions</a><hr></td>
                    </tr>
                    
                    <tr >
                        <td><a href="http://127.0.0.1:8000/tableau" style="size: 22px;font-family: 'Quicksand', sans-serif;">Data Visualization</a><hr></td>
                    </tr>
                   
                    <tr >
                        <td><a href="http://127.0.0.1:8000/bigdata" style="size: 22px;font-family: 'Quicksand', sans-serif;">Big Data</a><hr></td>
                    </tr>
                    <tr>
                    
                        <td><a href="http://127.0.0.1:8000/projectmang" style="size: 22px;font-family: 'Quicksand', sans-serif;">Project Management</a><hr></td>
                    </tr>
                    
                    <tr >
                        <td><a href="http://127.0.0.1:8000/machinelearning" style="size: 22px;font-family: 'Quicksand', sans-serif;">Machine Learning</a><hr></td>
                    </tr>
                   
                    <tr >
                        <td><a style="size: 22px;font-family: 'Quicksand', sans-serif;">Web Application</a></td>
                    </tr>
        </table>
                  
        </div>
        <div id="c">
        <div id="text">
            <p class="container1">A web-based application, weblication, or web application is a software program that runs in an Internet browser, on or through a web page. Similar to a software program that runs on a computer desktop or desktop application, a web application allows for user interaction and can be designed for a variety of uses.</p>
			<p class="container1">Web applications are usually created using a combination of programming languages designed for use on the Internet. In most cases, web applications require less RAM to run. Today, many browser games are created to run as a web application, using the browser as the client, instead of requiring a local installation.</p>
        </div>
        <div id="image">
            <img src="../static/image/1_sp68dtNAtjUEgFfBp0qIHQ.png">
        </div>
        </div>  
    </div>
    <div class="footer">
        <h3>&copy;Copyright,2019-YBrantWorks</h3>
      </div>
</body>
</html>