<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/home29.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    
    
</head>

<body background="../static/image/download.jpg">
    <div id="header">
        <div id="logo">
                <div>
                    <a href="http://127.0.0.1:8000"><img src="../static/image/logo.jpg"></a>
                </div>
        </div>
            <div id="about_us">
                    <a class="nav-link" href="#home">About us</a>
            </div>
            <div id="services">
                <a class="nav-link" href="#service">Services</a>
            </div>
            <div id="contact">
                    <a class="nav-link" href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Contact</a>
            </div>    
    </div>
    
        
            
            <div id="light" class="white_content">
                    <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">&times;</a>
                <div id="top">
                    <h3>YBrantWorks Pvt. Ltd.</h3>
                    
                </div>
                <div id="mid">
                <h4><p>101, Evoma,</p>
                    <p>The Address,</p>
                    <p>Kadubeesanahalli,</p>
                    <p>Bangalore - 560103</p></h4>
                </div>
                <hr> 
                <div id="bottom"> 
                    <h4><p>+91 80-67410936, +91 9663422557</p>
                    <p>info@ybrantworks.com</p></h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15554.14606047819!2d77.6925786!3d12.9374835!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe5574c0da6d1944c!2sybrantworks!5e0!3m2!1sen!2sin!4v1566540235042!5m2!1sen!2sin" width="230px" height="200px" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
               
            </div>
            <div id="fade" class="black_overlay"></div>    
    <div id="home">
        <div id="image">
            <img src="../static/image/home1.jpg">
        </div>
        <div id="text">
            <p><strong>Y</strong>BrantWorks is built on the idea that all modern organizations, big or small, have to rely on data and internet to drive their businesses.</p>
            <p>Yet not every company has the time, staff or the knowledge to accomplish it. YBrantWorks’ process, whether architecting a web application in the cloud or developing statistical or predictive analytics, is always collaborative. We begin by understanding a client’s existing data landscape and the challenges they are looking to solve, and then work closely with clients to craft the right solution. YBrantWorks’ team of true technologists and business literate members’ driving purpose is to help organizations craft custom solutions while staying true to their motto ‘RELIABLE, RESPONSIBLE, BETTER’.</P>
        </div>
      
    </div>
   

    <div id="service">
        <div id="display1">
            <div id="image1" class="main_image">
                <a href="http://127.0.0.1:8000/datasolution"><img src="../static/image/datasol.jpg" ></a>
                <a href="http://127.0.0.1:8000/datasolution"><h3>Data Solutions</h3></a>
            </div>
            <div id="image2" class="main_image">
                <a href="http://127.0.0.1:8000/tableau"><img src="../static/image/dv.png"></a>
                <a href="http://127.0.0.1:8000/tableau"><h3>Data Visualization</h3></a>
            </div>
            <div id="image3" class="main_image">
                <a href="http://127.0.0.1:8000/bigdata"><img src="../static/image/bigdata1.jpg"></a>
                <a href="http://127.0.0.1:8000/bigdata"><h3>Big Data</h3></a>
            </div>
        </div>
    
        <div id="display2">
            <div id="image4" class="main_image">
                <a href="http://127.0.0.1:8000/projectmang"><img src="../static/image/project_mang1..jpg"></a>
                <a href="http://127.0.0.1:8000/projectmang"><h3>Project Management</h3></a>
            </div>
            <div id="image5" class="main_image">
                <a href="http://127.0.0.1:8000/machinelearning"><img src="../static/image/ml.jpg"></a>
                <a href="http://127.0.0.1:8000/machinelearning"><h3>Machine Learning</h3></a>
            </div>
            <div id="image6" class="main_image">
                <a href="http://127.0.0.1:8000/webapp"><img src="../static/image/webapp.jpg"></a>
                <a href="http://127.0.0.1:8000/webapp"><h3>Web Application</h3></a>
            </div> 
        </div>
    </div>
    
    <div class="footer">
        <a>&copy;Copyright,2019-YBrantWorks</a>
    </div>
    
</body>

</html>